
.contResumeArticles
{
/*  display: flex;
  flex-wrap: wrap;*/
  max-width: 19rem; 
  margin-left: 4rem; 
  margin-top: 2.5rem; 
  padding: .5rem; 
  border-radius: 1.5rem;
  background: #f8f8f8;
  border: 1px solid #d2d2d2;
}

.contResumeArticles h1
{
  margin: 0;
  border: none;
  color: #353535;
  flex-basis: 100%;
  font-size: 1.25rem;
  font-family: sans !important;
}

div.resumeArticle
{
  display: inline-block;
  font-size: 0.9em;
  vertical-align: top;
  text-align: justify;
  padding: 2%;
}
@media (max-width: 799px) { div.resumeArticle { flex-basis: 100%; } }
@media (max-width: 335px) { div.resumeArticle { padding: 0%; } }

.wh-full-width-articles div.resumeArticle { width: 100%; }


div.resumeArticle img
{
  float: left;
  margin: 5px;
  max-width: 150px;
  max-height: 150px;
  width: auto;
  height: auto;
}

div.resumeArticle h2
{
  margin-top: 0px;
  margin-bottom: 0px;
}

div.resumeArticle a.lienVersArticleComplet
{
  float: right;
}


.animChargement
{
  font-size: 2em;
  color: #888888;
  font-style: italic;
  margin: auto;
  padding-top: 60px;
  padding-bottom: 60px;
}
