div#siteNotice{display:none;}
#p-personal > div:nth-child(2) > ul:nth-child(1){display:none;}
#p-cactions{display:none;}
#firstHeading{margin-right:150px;}
div#content  
{
    background-image: url("logoVikidiaPage.png");
    background-repeat: no-repeat;
    background-position: top right;
    margin: 0px;
}
.portlet{display:none;}

body
{
font-size: 0.9em;
}

div#footer
{
	clear: both;
}
