<!DOCTYPE html>
<html lang="fr" dir="ltr" class="client-nojs">
<head>
<meta charset="UTF-8" />
<meta name="generator" content="MediaWiki 1.22.0" />
<TITLE>#TITRE_PAGE</TITLE>
</head>
<link rel="stylesheet" href="../w/vikidia.css" /><link rel="stylesheet" href="../w/vikidia-kiwix.css" /></HEAD>
<body class="mediawiki ltr sitedir-ltr ns-0 ns-subject page-Mali skin-vector action-view vector-animateLayout">
<div id="content" class="mw-body" role="main">
<IMG STYLE="float:right">
<h1 id="firstHeading" class="firstHeading" lang="fr"><span dir="auto">#TITRE_PAGE</span></h1>
<div id="bodyContent">
<div class="thumb tright"><div class="thumbinner" style="width:202px;"><a href="https://fr.vikidia.org/wiki/Fichier:Angle_au_centre_et_angle_inscrit.png" class="image"><img alt="" src="../../download.vikidia.org/vikidia/fr/images/thumb/4/4c/Angle_au_centre_et_angle_inscrit.png/200px-Angle_au_centre_et_angle_inscrit.png" width="200" height="200" class="thumbimage" srcset="//download.vikidia.org/vikidia/fr/images/thumb/4/4c/Angle_au_centre_et_angle_inscrit.png/300px-Angle_au_centre_et_angle_inscrit.png 1.5x, //download.vikidia.org/vikidia/fr/images/thumb/4/4c/Angle_au_centre_et_angle_inscrit.png/400px-Angle_au_centre_et_angle_inscrit.png 2x" /></a>  <div class="thumbcaption"><div class="magnify"><a href="https://fr.vikidia.org/wiki/Fichier:Angle_au_centre_et_angle_inscrit.png" class="internal" title="Agrandir"></a></div>Dans ce cercle, <br />BÂC est un angle inscrit, <br />BÔC est un angle au centre.</div></div></div>
<p>Dans un cercle <img class="mwe-math-fallback-image-inline tex" alt="\scriptstyle {{\mathcal  {C}}}" src="../../download.vikidia.org/vikidia/fr/images/math/b/4/1/b414f081e8795c573bd9cdd4e4564831.png" />&#160;:
</p>
<ul><li> Un <b>angle au centre</b> est un <a href="https://fr.vikidia.org/wiki/Angle" title="Angle">angle</a> formé par deux rayons&#160;;</li>
<li> Un <b>angle inscrit</b> est l'angle formé par deux <a href="https://fr.vikidia.org/wiki/Corde" title="Corde" class="mw-disambig">cordes</a>.</li></ul>
<p>Dans l'article, <i>O</i> est le centre de <img class="mwe-math-fallback-image-inline tex" alt="\scriptstyle {{\mathcal  {C}}}" src="../../download.vikidia.org/vikidia/fr/images/math/b/4/1/b414f081e8795c573bd9cdd4e4564831.png" />, et <i>A</i>, <i>B</i> et <i>C</i> sont des points du cercle <img class="mwe-math-fallback-image-inline tex" alt="\scriptstyle {{\mathcal  {C}}}" src="../../download.vikidia.org/vikidia/fr/images/math/b/4/1/b414f081e8795c573bd9cdd4e4564831.png" />. Voyez les notations sur la figure ci-contre&#160;: l'angle BÔC est un angle au centre, et BÂC est un angle inscrit.
</p>
<div id="toc" class="toc"><div id="toctitle"><h2>Sommaire</h2></div>
<ul>
<li class="toclevel-1 tocsection-1"><a href="index.php?title=Angle&#32;au&#32;centre&#32;et&#32;angle&#32;inscrit&amp;action=render.html#Th.C3.A9or.C3.A8me_de_l.27angle_inscrit_et_de_l.27angle_au_centre"><span class="tocnumber">1</span> <span class="toctext">Théorème de l'angle inscrit et de l'angle au centre</span></a>
<ul>
<li class="toclevel-2 tocsection-2"><a href="index.php?title=Angle&#32;au&#32;centre&#32;et&#32;angle&#32;inscrit&amp;action=render.html#D.C3.A9monstration"><span class="tocnumber">1.1</span> <span class="toctext">Démonstration</span></a>
<ul>
<li class="toclevel-3 tocsection-3"><a href="index.php?title=Angle&#32;au&#32;centre&#32;et&#32;angle&#32;inscrit&amp;action=render.html#Premi.C3.A8re_.C3.A9tape"><span class="tocnumber">1.1.1</span> <span class="toctext">Première étape</span></a></li>
<li class="toclevel-3 tocsection-4"><a href="index.php?title=Angle&#32;au&#32;centre&#32;et&#32;angle&#32;inscrit&amp;action=render.html#Seconde_.C3.A9tape"><span class="tocnumber">1.1.2</span> <span class="toctext">Seconde étape</span></a></li>
</ul>
</li>
</ul>
</li>
</ul>
</div>

<h2><span class="mw-headline" id="Th.C3.A9or.C3.A8me_de_l.27angle_inscrit_et_de_l.27angle_au_centre">Théorème de l'angle inscrit et de l'angle au centre</span></h2>
<center><div style="background-color: #ccddff; padding: 5px;">Dans un cercle, ou dans plusieurs cercles de même rayon, l'amplitude d'un angle au centre vaut le double de l'amplitude d'un angle inscrit qui intercepte le même arc.<br /><img class="mwe-math-fallback-image-inline tex" alt="|B{\hat  A}C|=2|B{\hat  O}C|" src="../../download.vikidia.org/vikidia/fr/images/math/0/2/3/023d32149719c3334e751bc75e99ee8b.png" /></div></center>
<h3><span class="mw-headline" id="D.C3.A9monstration">Démonstration</span></h3>
<p>En mathématiques comme en <a href="https://fr.vikidia.org/wiki/Sciences" title="Sciences" class="mw-redirect">sciences</a>, on avance une première <a href="https://fr.vikidia.org/w/index.php?title=Hypothèse&amp;action=edit&amp;redlink=1" class="new" title="Hypothèse (page inexistante)">hypothèse</a> d'après des observations. On observe que le résultat précédent est vérifié dans un grand nombre de situations. Tu peux faire des dessins sur une feuille blanche, avec un <a href="https://fr.vikidia.org/wiki/Compas" title="Compas">compas</a> et une <a href="https://fr.vikidia.org/wiki/Règle" title="Règle">règle</a>, et utiliser un <a href="https://fr.vikidia.org/wiki/Rapporteur" title="Rapporteur">rapporteur</a> pour mesurer les angles.
</p><p>Cependant, pour pouvoir <b>affirmer</b> que ceci est vrai, il faut le démontrer.
</p>
<h4><span class="mw-headline" id="Premi.C3.A8re_.C3.A9tape">Première étape</span></h4>
<p>Supposons <i>A</i> et <i>B</i> diamétralement opposés. Par conséquent, <i>O</i> est le milieu de [AB]. <i>O</i>, <i>A</i> et <i>B</i> sont donc alignés. La somme des angles BÔC et CÔA vaut 90°.<br /> Or, le triangle <i>AOC</i> est isocèle en <i>O</i>. 
</p><p><img class="mwe-math-fallback-image-inline tex" alt="2|C{\hat  A}O| |C{\hat  O}A|=180^{\circ }" src="../../download.vikidia.org/vikidia/fr/images/math/b/1/e/b1e90bebc90cd21be669abeb1b7f4fc4.png" /><br /><img class="mwe-math-fallback-image-inline tex" alt="2|C{\hat  A}O|=|B{\hat  O}C|" src="../../download.vikidia.org/vikidia/fr/images/math/1/d/6/1d62af5878bd84a45e753fb0ee0c2ba9.png" />
</p><p>Ces affirmations vont nous aider pour la seconde étape de la démonstration que voici.
</p>
<h4><span class="mw-headline" id="Seconde_.C3.A9tape">Seconde étape</span></h4>
<p>À présent, reprenons le schéma en début d'article.<br />
</p>
<div style="margin-bottom: 5px; text-indent: 30px;"> <i><img alt="À compléter" src="../../download.vikidia.org/vikidia/fr/images/thumb/8/84/Travaux.png/30px-Travaux.png" title="À compléter" width="30" height="26" srcset="//download.vikidia.org/vikidia/fr/images/thumb/8/84/Travaux.png/45px-Travaux.png 1.5x, //download.vikidia.org/vikidia/fr/images/thumb/8/84/Travaux.png/60px-Travaux.png 2x" /> Cette section est vide, pas assez détaillée ou incomplète. N'hésite pas à <span class="plainlinks"><a rel="nofollow" class="external text" href="https://fr.vikidia.org/w/index.php?title=Angle_au_centre_et_angle_inscrit&amp;action=edit"><b>l'améliorer</b> </a></span><b>&#160;!</b></i><b></div></b>
<p><br />
</p>
<center>
<table style="clear: both; margin-top: 12px; border-left: 4px solid #8888aa; width: 90%; background: #ccddff; border-radius: 2px;">
<tr>
<td style="padding: 3px; text-align: left;"><img alt="" src="../../download.vikidia.org/vikidia/fr/images/thumb/c/cc/Icone_Maths1.png/30px-Icone_Maths1.png" width="30" height="30" srcset="//download.vikidia.org/vikidia/fr/images/thumb/c/cc/Icone_Maths1.png/45px-Icone_Maths1.png 1.5x, //download.vikidia.org/vikidia/fr/images/thumb/c/cc/Icone_Maths1.png/60px-Icone_Maths1.png 2x" />
</td>
<td width="90%" style="font-size: 15px;"> <b><a href="https://fr.vikidia.org/wiki/Portail:Mathématiques" title="Portail:Mathématiques">Portail des mathématiques</a></b> - Les nombres, la géométrie et les grands mathématiciens.
</td></tr></table>
</center>

<!-- 
NewPP limit report
CPU time usage: 0.128 seconds
Real time usage: 1.253 seconds
Preprocessor visited node count: 120/1000000
Preprocessor generated node count: 422/1000000
Post‐expand include size: 1897/2097152 bytes
Template argument size: 720/2097152 bytes
Highest expansion depth: 6/40
Expensive parser function count: 0/100
-->

<!-- 
Transclusion expansion time report (%,ms,calls,template)
100.00%   15.829      1 - -total
 48.66%    7.703      1 - Modèle:Portail_Mathématiques
 48.51%    7.679      1 - Modèle:...
 30.45%    4.820      1 - Modèle:Méta_mini_bandeau
 19.18%    3.036      1 - Modèle:Méta_lien_portail
-->

<!-- Saved in parser cache with key vikidia_fr-wk_:pcache:idhash:24719-1!*!0!!fr!3!*!math=0 and timestamp 20161009212250 and revision id 902530
 -->
</DIV></DIV>

<div id="footer" role="contentinfo">
<ul id="footer-info">
<li id="footer-info-lastmod"> Par Vikidia, l’<a href="http://fr.vikidia.org">encyclopédie pour les jeunes</a>, qui <a href="http://fr.vikidia.org">explique aux enfants</a>.<br/>
Vikidia est gracieusement hébergée par les serveurs de <a href="http://www.tuxfamily.org">TuxFamily</a>.<br/>
Page copiée le #DATE_CAPTURE depuis vikidia pour consultation sans connexion internet.<br />
Le contenu de Vikidia peut être copié et réutilisé librement, suivant les règles d'une des licences sous lesquelles il est publié&nbsp;: ce sont la <a href="/wiki/Licence_de_documentation_libre_GNU" title="Licence de documentation libre GNU">Licence de documentation libre GNU</a> et <a rel="nofollow" class="external text" href="http://creativecommons.org/licenses/by-sa/3.0/deed.fr">licence Creative Commons Paternité-Partage des Conditions Initiales à l'Identique 3.0 Unported</a>
</li>

</ul>
<ul id="footer-places">
<li id="footer-places-privacy"><a href="Vikidia:Confidentialit%C3%A9.html" title="Vikidia:Confidentialité">Politique de confidentialité</a></li>
<li id="footer-places-about"><a href="Vikidia:%C3%80_propos.html" title="Vikidia:À propos">À propos de Vikidia</a></li>
<li id="footer-places-disclaimer"><a href="Vikidia:Avertissements_g%C3%A9n%C3%A9raux.html" title="Vikidia:Avertissements généraux">Avertissements</a></li>
</ul>
<ul id="footer-icons" class="noprint">
<li id="footer-poweredbyico">
<a href="http://www.mediawiki.org/"><img src="../w/skins/common/images/poweredby_mediawiki_88x31.png" alt="Powered by MediaWiki" width="88" height="31" /></a>
</li>
</ul>
<div style="clear:both"></div>
</div>
</BODY>
</html>
