<!DOCTYPE html>
<html lang="fr" dir="ltr" class="client-nojs">
<head>
<meta charset="UTF-8" />
<meta name="generator" content="MediaWiki 1.22.0" />
<TITLE>Losange</TITLE>
</head>
<link rel="stylesheet" href="../w/vikidia.css" /><link rel="stylesheet" href="../w/vikidia-kiwix.css" /></HEAD>
<body class="mediawiki ltr sitedir-ltr ns-0 ns-subject page-Mali skin-vector action-view vector-animateLayout">
<div id="content" class="mw-body" role="main">
<IMG STYLE="float:right">
<h1 id="firstHeading" class="firstHeading" lang="fr"><span dir="auto">Losange</span></h1>
<div id="bodyContent">
<div class="thumb tright"><div class="thumbinner" style="width:243px;"><a href="Fichier:Losange.jpg.html" class="image"><img alt="" src="../../download.vikidia.org/vikidia/fr/images/f/f3/Losange.jpg" width="241" height="275" class="thumbimage" /></a>  <div class="thumbcaption">Un losange ABCD. Les <a href="Diagonale.html" title="Diagonale">diagonales</a> sont en pointillés <a href="Bleu.html" title="Bleu">bleus</a>. Elles se coupent en leur milieu en formant un <a href="Angle_droit.html" title="Angle droit">angle droit</a>.</div></div></div>
<p>Un <b>losange</b> est un <a href="Parallélogramme.html" title="Parallélogramme">parallélogramme</a> dont deux côtés consécutifs ont la même longueur. Comme les côtés opposés ont même longueur, il s'en suit que les quatre côtés du parallélogramme ont même longueur.
</p>
<h2><span class="mw-headline" id="Propri.C3.A9t.C3.A9s">Propriétés</span></h2>
<p>Dans un losange ABCD,
</p>
<ul><li> Les quatre côtés sont égaux&#160;;</li>
<li> Les angles opposés sont égaux&#160;;</li>
<li> Les diagonales d'un parallélogramme sont perpendiculaires et s'intersectent en leur milieu&#160;;</li>
<li> Le point d'intersection des diagonales est un centre de <a href="Symétrie.html" title="Symétrie">symétrie</a> du losange&#160;;</li>
<li> Les droites (AC) et (BD) sont des <a href="https://fr.vikidia.org/w/index.php?title=Axe_de_symétrie&amp;action=edit&amp;redlink=1" class="new" title="Axe de symétrie (page inexistante)">axes de symétrie</a> du losange.</li></ul>
<h2><span class="mw-headline" id="D.C3.A9finitions_.C3.A9quivalentes">Définitions équivalentes</span></h2>
<ul><li> Un losange est un <a href="Quadrilatère.html" title="Quadrilatère">quadrilatère</a> dont les <a href="Diagonale.html" title="Diagonale">diagonales</a> sont perpendiculaires et se coupent en leur milieu. </li>
<li> Un losange est un <a href="Quadrilatère.html" title="Quadrilatère">quadrilatère</a> dont les quatre côtés ont la même longueur.</li></ul>
<p><br />
Attention&#160;: le <a href="Carré.html" title="Carré">carré</a> est un losange particulier, qui a des angles droits.
</p>
<ul><li> Le <a href="Périmètre.html" title="Périmètre">périmètre</a> d'un losange de côté de longueur a est a × 4.</li>
<li> L'<a href="Aire.html" title="Aire">aire</a> d'un losange ayant pour diagonales les segments [AC] et [BD] est&#160;: <img class="mwe-math-fallback-image-inline tex" alt="{\frac  {{\text{AC}}\times {\text{BD}}}{2}}" src="../../download.vikidia.org/vikidia/fr/images/math/d/6/3/d63258edafc40df97fa324004d1b861d.png" />.</li>
<li> L'aire d'un losange de côté de longueur a et dont un angle vaut b est&#160;: <img class="mwe-math-fallback-image-inline tex" alt="4a^{2}\times \sin({\frac  {b}{2}})\times \cos({\frac  {b}{2}})" src="../../download.vikidia.org/vikidia/fr/images/math/1/5/c/15c8b710c0c6b25ac5dc53aa81f69707.png" />.</li></ul>
<p><br />
</p>
<center>
<table style="clear: both; margin-top: 12px; border-left: 4px solid #8888aa; width: 90%; background: #ccddff; border-radius: 2px;">
<tr>
<td style="padding: 3px; text-align: left;"><img alt="" src="../../download.vikidia.org/vikidia/fr/images/thumb/c/cc/Icone_Maths1.png/30px-Icone_Maths1.png" width="30" height="30" srcset="//download.vikidia.org/vikidia/fr/images/thumb/c/cc/Icone_Maths1.png/45px-Icone_Maths1.png 1.5x, //download.vikidia.org/vikidia/fr/images/thumb/c/cc/Icone_Maths1.png/60px-Icone_Maths1.png 2x" />
</td>
<td width="90%" style="font-size: 15px;"> <b><a href="Portail:Mathématiques.html" title="Portail:Mathématiques">Portail des mathématiques</a></b> - Les nombres, la géométrie et les grands mathématiciens.
</td></tr></table>
</center>

<!-- 
NewPP limit report
CPU time usage: 0.068 seconds
Real time usage: 0.428 seconds
Preprocessor visited node count: 31/1000000
Preprocessor generated node count: 149/1000000
Post‐expand include size: 836/2097152 bytes
Template argument size: 176/2097152 bytes
Highest expansion depth: 3/40
Expensive parser function count: 0/100
-->

<!-- 
Transclusion expansion time report (%,ms,calls,template)
100.00%    9.636      1 - -total
100.00%    9.636      1 - Modèle:Portail_Mathématiques
 36.57%    3.524      1 - Modèle:Méta_lien_portail
-->

<!-- Saved in parser cache with key vikidia_fr-wk_:pcache:idhash:4107-1!*!0!!*!3!*!math=0 and timestamp 20161009203447 and revision id 885342
 -->
</DIV></DIV>

<div id="footer" role="contentinfo">
<ul id="footer-info">
<li id="footer-info-lastmod"> Par Vikidia, l’<a href="http://fr.vikidia.org">encyclopédie pour les jeunes</a>, qui <a href="http://fr.vikidia.org">explique aux enfants</a>.<br/>
Vikidia est gracieusement hébergée par les serveurs de <a href="http://www.tuxfamily.org">TuxFamily</a>.<br/>
Page copiée le dimanche 9 octobre 2016 depuis vikidia pour consultation sans connexion internet.<br />
Le contenu de Vikidia peut être copié et réutilisé librement, suivant les règles d'une des licences sous lesquelles il est publié&nbsp;: ce sont la <a href="/wiki/Licence_de_documentation_libre_GNU" title="Licence de documentation libre GNU">Licence de documentation libre GNU</a> et <a rel="nofollow" class="external text" href="http://creativecommons.org/licenses/by-sa/3.0/deed.fr">licence Creative Commons Paternité-Partage des Conditions Initiales à l'Identique 3.0 Unported</a>
</li>

</ul>
<ul id="footer-places">
<li id="footer-places-privacy"><a href="Vikidia:Confidentialit%C3%A9.html" title="Vikidia:Confidentialité">Politique de confidentialité</a></li>
<li id="footer-places-about"><a href="Vikidia:%C3%80_propos.html" title="Vikidia:À propos">À propos de Vikidia</a></li>
<li id="footer-places-disclaimer"><a href="Vikidia:Avertissements_g%C3%A9n%C3%A9raux.html" title="Vikidia:Avertissements généraux">Avertissements</a></li>
</ul>
<ul id="footer-icons" class="noprint">
<li id="footer-poweredbyico">
<a href="http://www.mediawiki.org/"><img src="../w/skins/common/images/poweredby_mediawiki_88x31.png" alt="Powered by MediaWiki" width="88" height="31" /></a>
</li>
</ul>
<div style="clear:both"></div>
</div>
</BODY>
</html>
